.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 30px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    box-sizing: border-box;
}

.nav__black {
    background-color: #111;
}

.nav__logo {
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
}

.nav__links {
    display: flex;
    gap: 20px;
    margin-left: 120px;
    color: white;
    font-size: 0.9rem;
}

.nav__links span {
    cursor: pointer;
}

.nav__links span:hover {
    color: #b3b3b3;
}

.nav__avatar {
    margin-left: 10px;
    width: 30px;
    object-fit: contain;
    border-radius: 4px;
    cursor: pointer;
}

.nav__user {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    margin-right: 20px;
}

.nav__login {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    margin-right: 20px;
}